#header {
	height: 16vh;
	padding-bottom: 0!important;
}
#spinner {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#control-panel {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#chooseGameType {
	width: 30vw;
}

#editor { 
	position: absolute;
	top: 16vh;
	right: 410px;
	bottom: 0;
	left: 0;
}
#runDiv { 
	position: absolute;
	top: 16vh;
	right: 0;
	bottom: 0;
	width: 410px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0;
}
#sketch-holder {
	border: None;
	width: 400px;
	height: 400px;
}
#console-banner {
	font-family: Inconsolata,Menlo,Consolas,monospace;
	width: 100%;
	background-color: lightgray;
	/* position: absolute; */
	margin: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 27px;
	font-size: .875em;
	padding: 0 14px;
	opacity: 0.5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#console-banner p {
	margin: 0;
	padding-top: 4px;
}
#clear-console-btn {
	width: 20px;
	cursor: pointer;
}
#console {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	width: 100%;
	height: calc(100vh - 16vh - 400px - 25px - 5% - 12px);
	border: 1px solid lightgray;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 10px 14px;
	font-family: Inconsolata,Menlo,Consolas,monospace;
	/* font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace; */
	font-size: .875em;
	-moz-tab-size : 4;
	-o-tab-size : 4;
	   tab-size : 4;
}
#console .error-message {
	width: 100%;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	background-color: #fec9c9;
	border: 1px solid rgb(254, 168, 168);
	border-radius: 6px;
	white-space: pre-wrap;
	word-wrap: break-word;
}
#console .error-message p {
	margin: 0;
	font-size: .875em;
}
#console .error-message p.error-header {
	font-weight: bold;
}
#console .console-text {
	margin: 0 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: .875em;
}
#console code {
	margin: 0 10px;
	background-color: hsla(0,0%,100%,.5);
}
#console-input {
	width: 100%;
	height: 5%;
	font-family: Inconsolata,Menlo,Consolas,monospace;
	/* font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace; */
	font-size: .875em;
	-moz-tab-size : 4;
	-o-tab-size : 4;
	   tab-size : 4;
}
#console-input-box {
	font-size: 0.875em;
}
#console-input-box:focus {
	outline: none;
	border-color: #25a596;
	box-shadow: none;
	/* box-shadow: 0 0 5px rgba(37, 165, 150, 0.5); */
  }