#header {
	height: 0vh;
}
#spinner {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#control-panel {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#chooseGameType {
	width: 30vw;
}

#editor { 
	position: absolute;
	top: 18vh;
	right: 425px;
	bottom: 0;
	left: 0;
}
#runDiv { 
	position: absolute;
	top: 18vh;
	right: 0;
	bottom: 0;
	width: 415px;
}
#sketch-holder {
	position: absolute;
	right: 0;
	top: 0;
	order: 1;
	border: None;
	margin: 5px;
}
#console {
	position: absolute;
	bottom: 0;
	order: 2;
	width: 100%;
	height: calc(100vh - 18vh - 410px);
	-moz-tab-size : 4;
	-o-tab-size : 4;
	   tab-size : 4;
}
#output {
	display: flex;
	font-family: monospace;
	overflow: scroll;
	border: 1px solid lightgray;
	border-radius: 6px;
	padding: 5px;
	resize:both;
	font-size: 12px;
	height: 80%;
}
#console-input {
	order: 2;
	width: 100%;
	height: 20%;
}