#header {
	height: 0vh;
}
#spinner {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#control-panel {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#chooseGameType {
	width: 30vw;
}

#editor { 
	position: absolute;
	top: 18vh;
	right: 425px;
	bottom: 0;
	left: 0;
}
#runDiv { 
	position: absolute;
	top: 18vh;
	right: 0;
	bottom: 0;
	width: 410px;
	/* display: flex;
	flex-direction: column;
	align-items: center; */
}
#sketch-holder {
	position: absolute;
	right: 0;
	top: 0;
	order: 1;
	border: None;
	margin: 0 5px;
	width: 400px;
	height: 400px;
}
#console {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	position: absolute;
	bottom: 5%;
	order: 2;
	width: 400px;
	margin: 0 5px;
	height: calc(100vh - 18vh - 405px - 5%);
	border: 1px solid lightgray;
	border-radius: 6px;
	padding: 10px 14px;
	font-family: monospace;
	font-size: 13px;
	-moz-tab-size : 4;
	-o-tab-size : 4;
	   tab-size : 4;
}
#console .error-message {
	width: 100%;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	background-color: #fec9c9;
	border-color: red;
	border-radius: 6px;
	white-space: pre-wrap;
	word-wrap: break-word;
}
#console .error-message p {
	margin: 0;
}
#console .error-message p.error-header {
	font-weight: bold;
}
#console .console-text {
	margin: 0;
	white-space: pre-wrap;
	word-wrap: break-word;
}
#console-input {
	position: absolute;
	order: 2;
	width: 400px;
	height: 5%;
	bottom: 0;
	margin: 0 5px;
}
#console-input-box {
	font-size: 13px;
}
#console-input-box:focus {
	outline: none;
	border-color: #25a596;
	box-shadow: none;
	/* box-shadow: 0 0 5px rgba(37, 165, 150, 0.5); */
  }